@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-r8pq7w');
	src:url('fonts/icomoon.eot?#iefix-r8pq7w') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-r8pq7w') format('truetype'),
		url('fonts/icomoon.woff?-r8pq7w') format('woff'),
		url('fonts/icomoon.svg?-r8pq7w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e600";
}
.icon-facebook a:before {
	content: "\e601";
}
.icon-instagram a:before {
	content: "\e602";
}
.icon-youtube a:before {
	content: "\e603";
}
.icon-arrow-right:before {
	content: "\e605";
}
.icon-twitter a:before {
	content: "\e606";
}
