html {
	background-color: #fff;
}
body {
	color:#333;
	margin:0;
	font-family:'Avenir LT W01 35 Light',"Helvetica Neue",Helvetica,Arial,sans-serif;
	width:100%;
	height:100%;
}

h2 {
	font-weight: normal;
}
input:not([type=checkbox]):not([type=radio]),textarea {
	border:0;
	-webkit-appearance:none;
	-moz-appearance:none;
}
input:focus,input:hover {
	outline:0;
	border-bottom:1px dashed #999;
}
button {
	cursor:pointer;
}
button:focus {
	outline:0;
}
.login {
	margin:0 auto;
	text-align: center;
	position:absolute;
	top:13%;
	left: 0;
    width: 100%;
}
.login-top {
	width: 100%;
	-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.3);
	-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,.3);
	box-shadow:0 2px 3px 0 rgba(0,0,0,.3);
	margin:0 auto;
	height: 100%;
}
.login-top p {
	padding: 20px 0 20px 0;
	padding: 0;
	color: #747474;
	font-size: 16px;
	width: 310px;
	margin:5px auto 20px auto;
	line-height: 24px;
}
.login-top h3 {
	padding: 20px 0 20px 0;
	padding: 0;
	color: #747474;
	font-size: 24px;
	width: 250px;
	margin:20px auto 0 auto;
}
.login-middle {
	margin:0 auto;
	background-color:rgba(188,188,188,.13);
	width:100%;
	padding:25px 0;
	font-size:13px;
}
.login-middle input {
	color:#747474;
	background-color:#fff;
	height:29px;
	width:282px;
	margin-right:12px;
	padding-left:10px;
	-moz-box-shadow:0 0 3px 0 rgba(0,0,0,.35) inset;
	-webkit-box-shadow:0 0 3px 0 rgba(0,0,0,.35) inset;
	box-shadow:0 0 3px 0 rgba(0,0,0,.35) inset;
}
.login-middle input::-webkit-input-placeholder {
	color:#CBCBCB;
}
.login-middle input::-moz-input-placeholder {
	color:#CBCBCB;
}
.login form button {
	background-color:#36BBE4;
	border:0;
	text-align:center;
	vertical-align:middle;
	padding:8px 28px;
	color:#fff;
}
.login-bottom {
	-moz-box-shadow:0 -2px 2px 0 rgba(0,0,0,.3);
	-webkit-box-shadow:0 -2px 2px 0 rgba(0,0,0,.3);
	box-shadow:0 -2px 2px 0 rgba(0,0,0,.3);
	padding:42px 0 0;
	color:#FFF;
	text-align:center;
}
.login-bottom .social-icons {
	position:fixed;
   	left:0px;
   	bottom:0px;
   	height:30px;
   	width:100%;
   	margin-bottom: 20px;
 }
.login-bottom .social-icons img {
	margin: 0 5px 0 5px;
	padding: 0;
 }

