div.catrow {
	border-top: 1px dotted #CCCCCC;
	clear: both;
	width:600px;
}
div.catrowsshrt {
	border-top: 1px dotted #CCCCCC;
	clear: both;
}
div.sortbox{
	font-size:11px;
	width:100%;
	border-bottom:1px solid #e5e5e5;
	position:relative;
}
div.category {
	padding: 7px 0px 7px 0px;
	font-weight:bold;
	width: 65px;
	float: left;
	background-image:url('/images/arrow.gif');
	background-repeat: no-repeat;
	background-position: center left;
	vertical-align: middle;
}
div.categorylong {
	padding: 7px 0px 7px 0px;
	font-weight:bold;
	width: 110px;
	float: left;
	background-image:url('/images/arrow-long.gif');
	background-repeat: no-repeat;
	background-position: center left;
	vertical-align: middle;
}
div.category a, div.categorylong a  {
	color: #D9E3EA;
	padding-left:5px;
}
div.commentcol a:hover, div.category a:hover, div.categorylong a:hover{
	color: #8C8C8C;
}
div.entry {
	padding: 7px 0px 7px 20px;
	width: 340px;
	float: left;
}
div.list {
	padding: 7px 0px 7px 20px;
	width: 320px;
	float: left;
}
div.datestamp {
	padding: 7px 0px 7px 20px;
	width: 80px;
	float: left;
}
div.datelist {
	padding: 7px 0px 7px 5px;
	float: left;
}
div.source {
	padding: 7px 0px 7px 20px;
	width: 260px;
	float: left;
}
div.commentcolshort{
	padding: 7px 0px 7px 5px;
	float: left;
	font-weight: normal;
}
div.commentcol{
	padding: 10px 0px 7px 19px;
	float: left;
	font-weight: bold;
	width: 48px;
	background-image: url(/images/comment.png);
	background-repeat: no-repeat;
}
div.commentcol a {
	color: #D9E3EA;
}
div.totallists {
	padding: 8px 0 0 10px;
	color: Gray; 
	font-size: 10px;
	float:left; 
	font-weight:bold;
}
div.spacer{
	float: left;
	width:50px;
}
.menusel {
	padding: 3px;
	background-color: #B22222;
	font-size: 10px;
	text-align: center;
	border-top: 1px #585858 solid;
	border-left: 1px #585858 solid;
	border-bottom: 1px #CCCCCC solid;
	border-right: 1px #CCCCCC solid;
	text-decoration: none;
	margin-left:2px;
} 
.menuunsel {
	padding: 3px;
	background-color: #EFEFEF;
	font-size: 10px;
	text-align: center;
	border-top: 1px #EAEAEA solid;
	border-left: 1px #EAEAEA solid;
	border-bottom: 1px #585858 solid;
	border-right: 1px #585858 solid;
	text-decoration: none;
	margin-left:2px;
} 
.menusel a {
	color: #EAEAEA;
	text-decoration: none;
} 
.menuunsel a {
	color: #960205;
	text-decoration: none;
} 

body {
	scrollbar-3d-light-color: #00FF00;
	scrollbar-arrow-color: #960205;
	scrollbar-base-color: #D9E3EA;
	scrollbar-dark-shadow-color: #1B2E3C;
	scrollbar-face-color: #1B2E3C;
	scrollbar-highlight-color: #D9E3EA;
	scrollbar-shadow-color: #D9E3EA;
	font-family: Verdana, Trebuchet MS, Trebuchet, Geneva, Arial, sans-serif;
}
p {
	margin-bottom: 11px;
	margin-top: 11px;
}
li {
	margin-bottom: 11px;
	margin-top: 11px;
	margin-left: 0px; 
	padding: 0px;
	list-style-type: none;
	list-style-image: url(/structureimages/bullet-small.png);
}
ul {
	margin: 0px; 
	padding: 0px 0px 0px 20px;
}
.bodytext a  {
	font-size: 11px;
	color: #960205;
	text-decoration: none;
} 
.comments a {
	border-bottom: 1px dotted #960205;
}
.bodytext .comment a:hover, .descriptor .comment a:hover{
	color: #960205;
	text-decoration: none;    
} 
.comment a  {
	font-size: 9px;
	padding: 0px 1px 0px 1px;
	text-decoration: none;    
	color: #960205;
} 
.new {
	font-size: 8px;
	font-weight: bold;
	color: #D9E3EA;
	background-color: #960205;
	padding: 1px 2px 1px 2px;
	letter-spacing: +1px;
	line-height: 12px;
}
.banner {
	font-size: 20px;
	font-weight: bold;
	color: #F5F5F5;
	background-color: #960205;
	background-image: url(/structureimages/background-center.jpg);
	background-repeat: repeat;
	border-bottom: 1px dotted #D9E3EA;
	border-top: 1px dotted #D9E3EA;
}
.title {
	font-family: Trebuchet MS, Trebuchet, Verdana, Geneva, Arial, sans-serif;
	color: #D9E3EA;
	font-size: 15px;
	font-weight: bold;
	padding-left: 28px;
	padding-top: 5px;
	float: left;
	letter-spacing: +2px;
	margin-top: 0px;
}
.more {
	color: #D9E3EA;
	font-size: 9px;
	font-weight: bold;
	letter-spacing: +1px;
	float: right;
	margin-top: 8px;
	margin-right: 3px;
	text-decoration: none;
	padding: 0px 1px 0px 1px;
}
.more a {
	color: #D9E3EA;
	text-decoration: none;
}
.more a:hover {
	color: #AFC2CF;
	text-decoration: none;    
}
.date, .date a {
	font-size: 17px;
	font-weight: bold;
	color: #34556A;
	margin-top: 6px;
	line-height: 22px;
}
.headertext {
	background-image: url(/structureimages/col_header_bg.jpg);
	background-repeat: repeat;
	background-color: #960205;
	text-align: right;
	border-top: 1px dotted #D9E3EA;
	border-left: 1px dotted #D9E3EA;
	border-right: 1px dotted #D9E3EA;
}
.searchresultsheader {
	color: #D9E3EA;
	font-size: 14px;
	font-weight: bold;
	background-color: #960205;
	background-image: url(/structureimages/col_header_bg.jpg);
	background-repeat: repeat;
	border-top: 1px dotted #D9E3EA;
	border-bottom: 1px dotted #D9E3EA;
}
.container {
	width: 100%;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	background-color: #C9D4DB;
	background-image: url(/structureimages/background-right.jpg);
	background-repeat: repeat;
	height:100%;
}
.bodybox {
	background-color: #DFE6EB;
	height:99.7%;
	background-image: url(/images/cell.gif);
	background-repeat: no-repeat;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #5A5A5A;
	border-bottom: 1px solid #5A5A5A;
}
.bodytext {
	line-height: 16px;
	font-size: 11px;
	color: #1B2E3C;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	clear: both;
}
.footertxt {
	background-color: #960205;
	background-image: url(/structureimages/col_header_bg.jpg);
	background-repeat: repeat;
	border-top: 1px dotted #D9E3EA;
	border-bottom: 1px dotted #D9E3EA;
	padding-bottom: 5px;
}
.subnav {
	font-size: 9px;
	font-weight: bold;
	padding-left: 5px;
	margin-top: 2px;
	background-color: #C9D4DB;
	border-top: 1px dotted #D9E3EA;
	border-bottom: 1px dotted #D9E3EA;
	letter-spacing: +1px;
	color: #34556A;
}
.subnav a {
	font-size: 9px;
	font-weight: bold;
}
.permlink {
	text-align: right;
	padding-right: 8px;
	margin-top: -3px;
	margin-left: -5px;
	margin-right: -5px;
	border-top: 1px dotted #C9D4DB;
	border-bottom: 1px dotted #C9D4DB;
}
.permlink a {
	font-size: 10px;
	font-weight: bold;
}
.bodybox a img {
	border: 1px solid #960205;
	margin: 10px 0px 2px 0px;
	text-decoration: none;
}
.bodybox .entry a img, .bodybox .datestamp a img,  .bodybox .commentcolshort a img {
	border: 0px;
	margin: 0px 3px 0px 2px;
}
.bodybox .entry a:hover img, .bodybox .datestamp a:hover img,  .bodybox .commentcolshort a:hover img {
	border: 0px;
}
.bodybox .bodytext a {
	border-bottom: 1px dotted #960205;
}
.bodybox .bodytext a:hover {
	border-bottom: none;
}
.descriptor {
	padding: 0px 0px 0px 7px;
	font-size: 9px;
	font-weight: bold;
	margin: 5px -5px -5px -5px;
	line-height: 20px;
	color: #34556A;
}
.searchbutton {
	font-family: Verdana, Trebuchet MS, Trebuchet, Geneva, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #1B2E3C;
	background-color: #D9E3EA;
	border: 2px outset #1B2E3C;
	margin-right: 10px;
}
.searchbox {
	font-family: Verdana, Trebuchet MS, Trebuchet, Geneva, Arial, sans-serif;
	font-size: 14px;
	color: #1B2E3C;
	background-color: #D9E3EA;
	border: 2px inset #1B2E3C;
}
.webcam {
	border: 1px solid #960205;
	text-decoration: none;    
}
.sponsor {
	margin-top: 3px;
	margin-bottom: 3px;
	border: 1px solid black;
} 
#toolbar {
	margin: 0;
	width: 78px;
	padding: 0;
	height: 20px;
	background: #C9CED5;
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	text-align:left;
}
.buttons {
	background: #ccc;
	border: 1px solid #ccc;
	margin: 1;
	float:left;
}
.raise	{
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	background: #ccc;
	margin:1;
	float:left;
}

.press {
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
	background: #ccc;
	margin:1;
	float:left;
}	