.catbooks {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.catfilm {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.catgames {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.catinternal {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.catmedia {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.catmisc {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.catmusic {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.catonline {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.cattshirts {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.cattv {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.catvideo {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
.catwork {
	border-top: 1px solid #CCCCCC;
	visibility: visible;
}
div.catrow {
	clear: both;
}
div.sortbox{
	font-size:11px;
	width:100%;
	border-bottom:1px solid #e5e5e5;
	position:relative;
}
div.category {
	padding: 5px 0px 10px 0px;
	font-weight:bold;
	color:#8C8C8C;
	width: 55px;
	float: left;
}
div.entry {
	padding: 5px 0px 10px 20px;
	width: 380px;
	float: left;
}
div.datestamp {
	padding: 5px 0px 10px 20px;
	width: 70px;
	float: left;
}
.commentcol{
	padding: 5px 0px 10px 20px;
	width: 30px;
	float: left;
}
.menusel {
	padding: 3px;
	background-color: #B22222;
	font-size: 10px;
	text-align: center;
	border-top: 1px #585858 solid;
	border-left: 1px #585858 solid;
	border-bottom: 1px #CCCCCC solid;
	border-right: 1px #CCCCCC solid;
	text-decoration: none;
	margin-left:2px;
} 
.menuunsel {
	padding: 3px;
	background-color: #EFEFEF;
	font-size: 10px;
	text-align: center;
	border-top: 1px #EAEAEA solid;
	border-left: 1px #EAEAEA solid;
	border-bottom: 1px #585858 solid;
	border-right: 1px #585858 solid;
	text-decoration: none;
	margin-left:2px;
} 
.menusel a {
	color: #EAEAEA;
	text-decoration: none;
} 
.menuunsel a {
	color: #960205;
	text-decoration: none;
} 

body {
	scrollbar-3d-light-color: #00FF00;
	scrollbar-arrow-color: #960205;
	scrollbar-base-color: #D9E3EA;
	scrollbar-dark-shadow-color: #1B2E3C;
	scrollbar-face-color: #1B2E3C;
	scrollbar-highlight-color: #D9E3EA;
	scrollbar-shadow-color: #D9E3EA;
	font-family: Verdana, Trebuchet MS, Trebuchet, Geneva, Arial, sans-serif;
}
p {
	margin-bottom: 11px;
	margin-top: 11px;
}
.bodytext a  {
	font-size: 11px;
	color: #960205;
	text-decoration: none;
} 
.bodytext a img  {
	text-decoration: none;
} 
.bodytext a:hover {
	text-decoration: none;
	border-bottom: 1px dashed #960205;
}
.bodytext .comment a:hover, .descriptor .comment a:hover{
	border: 1px solid #960205;
	color: #960205;
	text-decoration: none;    
} 
.comment a  {
	font-size: 9px;
	padding: 0px 1px 0px 1px;
	text-decoration: none;    
	border: 1px solid #AFC2CF;
	color: #AFC2CF;
} 
.new {
	font-size: 8px;
	font-weight: bold;
	color: #D9E3EA;
	background-color: #960205;
	padding: 1px 2px 1px 2px;
	letter-spacing: +1px;
	line-height: 12px;
}
.banner {
	font-size: 20px;
	font-weight: bold;
	color: #F5F5F5;
	background-color: #960205;
	background-image: url(/structureimages/background-center.jpg);
	background-repeat: repeat;
	border-bottom: 1px dashed #D9E3EA;
	border-top: 1px dashed #D9E3EA;
}
.title {
	color: #D9E3EA;
	font-size: 14px;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 6px;
	float: left;
	letter-spacing: +2px;
}
.more {
	color: #D9E3EA;
	font-size: 9px;
	font-weight: bold;
	letter-spacing: +1px;
	float: right;
	margin-top: 8px;
	margin-right: 3px;
	text-decoration: none;
	border: 1px solid #AFC2CF;
	padding: 0px 1px 0px 1px;
}
.more a {
	color: #D9E3EA;
	text-decoration: none;
}
.more a:hover {
	color: #AFC2CF;
	text-decoration: none;    
}
.date {
	font-size: 12px;
	font-weight: bold;
	color: #34556A;
	margin-top: 6px;
}
.headertext {
	background-image: url(/structureimages/col_header_bg.jpg);
	background-repeat: repeat;
	background-color: #960205;
	text-align: right;
	border-top: 1px dashed #D9E3EA;
	border-left: 1px dashed #D9E3EA;
	border-right: 1px dashed #D9E3EA;
}
.searchresultsheader {
	color: #D9E3EA;
	font-size: 14px;
	font-weight: bold;
	background-color: #960205;
	background-image: url(/structureimages/col_header_bg.jpg);
	background-repeat: repeat;
	border-top: 1px dashed #D9E3EA;
	border-bottom: 1px dashed #D9E3EA;
}
.container {
	width: 100%;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	background-color: #C9D4DB;
	background-image: url(/structureimages/background-right.jpg);
	background-repeat: repeat;
}
.bodybox {
	background-color: #DFE6EB;
	height: 99%;
	background-image: url(/structureimages/cell.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #5A5A5A;
	border-bottom: 1px solid #5A5A5A;
}
.bodytext {
	line-height: 16px;
	font-size: 11px;
	color: #1B2E3C;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	clear: both;
}
.footertxt {
	background-color: #960205;
	background-image: url(/structureimages/col_header_bg.jpg);
	background-repeat: repeat;
	border-top: 1px dashed #D9E3EA;
	border-bottom: 1px dashed #D9E3EA;
	padding-bottom: 5px;
}
.subnav {
	font-size: 9px;
	font-weight: bold;
	padding-left: 7px;
	margin-top: -3px;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 2px;
	background-color: #C9D4DB;
	border-top: 1px dashed #D9E3EA;
	border-bottom: 1px dashed #D9E3EA;
	letter-spacing: +1px;
	color: #34556A;
}
.subnav a {
	font-size: 9px;
	font-weight: bold;
}
.permlink {
	text-align: right;
	padding-right: 8px;
	margin-top: -3px;
	margin-left: -5px;
	margin-right: -5px;
	border-top: 1px dashed #C9D4DB;
	border-bottom: 1px dashed #C9D4DB;
}
.permlink a {
	font-size: 10px;
	font-weight: bold;
}
.descriptor {
	font-size: 9px;
	font-weight: bold;
	padding-left: 7px;
	margin-top: 5px;
	margin-bottom: -3px;
	margin-left: -5px;
	margin-right: -5px;
	line-height: 20px;
	color: #34556A;
}
.searchbutton {
	font-family: Verdana, Trebuchet MS, Trebuchet, Geneva, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #1B2E3C;
	background-color: #D9E3EA;
	border: 2px outset #1B2E3C;
	margin-right: 10px;
}
.searchbox {
	font-family: Verdana, Trebuchet MS, Trebuchet, Geneva, Arial, sans-serif;
	font-size: 14px;
	color: #1B2E3C;
	background-color: #D9E3EA;
	border: 2px inset #1B2E3C;
}
.webcam {
	border: 1px solid #960205;
	text-decoration: none;    
}
.sponsor {
	margin-top: 3px;
	margin-bottom: 3px;
	border: 1px solid black;
} 
#toolbar {
	margin: 0;
	width: 78px;
	padding: 0;
	height: 20px;
	background: #C9CED5;
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	text-align:left;
}
.buttons {
	background: #ccc;
	border: 1px solid #ccc;
	margin: 1;
	float:left;
}
.raise	{
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	background: #ccc;
	margin:1;
	float:left;
}

.press {
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
	background: #ccc;
	margin:1;
	float:left;
}	